@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromBottomDelay1 {
    0% {
        opacity: 0;
        transform: translateY(300%);
    }
    30% {
        opacity: 0;
        transform: translateY(300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromBottomDelay2 {
    0% {
        opacity: 0;
        transform: translateY(300%);
    }
    50% {
        opacity: 0;
        transform: translateY(300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}