.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tablinks{
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.svg-container .main-svg{
    width: 100% !important;
}

.pdf-print{
    display: none;
}

.pdf-show{
    display: block;
}

#loadingScreen{
    display: none;
    height: 100%;
    width: 100%;
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0.9;
    z-index: 99999999
}

.load{
    position:sticky;
    top:20%;
    left:48%;
    width:100px;
    height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
}

.pdf-button{
    position: absolute;
    top: 0; 
    right:0;
    z-index: 999999;
}

.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}