#content {
    font-size: 14px;
}

#header, input[type=submit],
.main-button,
.main-button:active,
.main-button:focus {
    background-color: var(--primary-color) !important;
    outline: none !important;
    color: white !important;
}

.row {
    margin: 0;
}

form input[type=submit], .main-button {
    text-align: center;
    width: 100%;
}

form input[type=submit]:hover,
.main-button:hover {
    background-color: var(--primary-color) !important;
    opacity: 0.7;
}

form input {
    width: 100%;
}

form .row,
form .form-row {
    margin-bottom: 10px !important;
}

input[type=text], input[type=password], input[type=email],
input[type=url], input[type=number], input[type=tel],
textarea, select, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 0;
    padding: 10px;
    vertical-align: middle;
}

input[type=text]:focus-visible, input[type=password]:focus-visible, input[type=email]:focus-visible,
input[type=url]:focus-visible, input[type=number]:focus-visible, input[type=tel]:focus-visible,
textarea:focus-visible, select:focus-visible {
    outline: none;
    border: 1px solid var(--primary-color);
}

form select {
    width: 100%;
    cursor: pointer;
    background: white;
}

form .form-row {
    display: block;
}

form p,
form .form-row {
    float: none;
    margin: 0;
    text-align: left;
    padding: 4px 0;
}

form .submit-row {
    padding: 0;
    width: 100%;
}

form p label,
form .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

form span,
form .error {
    font-size: 12px;
    clear: both;
    color: #777;
}

form .row {
    margin: 0;
}

form .row > .left {
    margin-right: 5px;
}

form .row > .right {
    margin-left: 5px;
}

form .col {
    padding: 0;
}

.container {
    width: 70%;
    padding: 40px;
    position: relative;
    margin-top: 40px;
}

#content .title {
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.error {
    color: red !important;
    display: none;
}

.check {
    color: grey;
    height: 30px;
    font-size: 25px;
    margin-left: 10px;
    width: 30px;
    display: none;
}

.btn {
    color: var(--primary-color);
    font-size: 12px;
    padding: 0;
}

ul.errorlist {
    margin-bottom: 10px;
    padding: 0;
    color: #ba2121;
    background: #fff;
}

ul.errorlist li {
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
}

.container .subtitle {
    color: var(--primary-color);
    margin-bottom: 20px;
}

.step {
    color: white;
    position: absolute;
    top: -25px;
    right: 0;
}

#login-form .form-row {
    background: white;
    padding: 10px 20px;
    margin-bottom: 0 !important;
}

#login-form .form-row .icon {
    width: 45px;
    text-align: center;
}

#login-form #password-input .fa-eye-slash {
    display: block;
    cursor: pointer;
    color: #aaa;
}

#login-form #password-input .fa-eye {
    display: none;
    cursor: pointer;
}

#login-form #password-input.active .fa-eye-slash {
    display: none;
}

#login-form #password-input.active .fa-eye {
    display: block;
}

#login-form .form-row i {
    color: var(--primary-color);
    font-size: 24px;
    margin-right: 10px;
    margin-top: 10px;
}

#login-form input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

#login-form input:focus-visible {
    border-bottom: 1px solid var(--primary-color);
}

#signup-form .billing-section {
    display: flex;
    color: black;
}

#signup-form .section-title {
    color: black;
    font-weight: 600;
}

#signup-form .billing-province,
#signup-form .billing-country {
    width: 100%;
    flex-grow: 1;
}

#signup-form .billing-province {
    margin-right: 5px;
}

#signup-form .billing-country {
    margin-left: 5px;
}