.idea
deployment/.env
deployment/backups
deployment/docker-compose.override.yml
deployment/qgis-server/qgis-auth.db
deployment/qgis-server/pg_service.conf
deployment/qgis-server/qgis-auth-pwd.txt
deployment/volumes
deployment/sites-enabled/default.conf
deployment/mapproxy/app.py
deployment/mapproxy/full_example.yaml
deployment/mapproxy/full_seed_example.yaml
deployment/mapproxy/cache_data/*

__pycache__/

django_project/.pycharm_helpers/
django_project/core/settings/secret.py
django_project/web-app/static/js/dashboard/env.js
django_project/version/commit.txt
django_project/version/version.txt
celerybeat-schedule*

docs/site/*
docks/mkdocs.yml
.direnv
docs/mkdocs.yml
docs/pdfs/*