{% load i18n %}
{% load static %}
<div id="footer-transparent" class="footer-page">
    <a href="{% url 'version' %}">Golden Albatross 1.0.0</a>
    <br>
    Powered by <a href="https://github.com/landinfotech/mycivitas"><img src="{% static "img/github-white.png" %}"> Open Source</a> 
    <div class="pull-right">Developed by
        <a href="https://www.landinfotech.com/"><img src="{% static "img/lit.png" %}"> LandInfo Technologies</a>
        <a href="https://kartoza.com/"><img src="{% static "img/kartoza.png" %}"> Kartoza</a>
    </div>
</div>