{% extends 'base.html' %}
{% load static %}

{% block title %}
    What's New
{% endblock %}

{% block stylesheet %}

<style>
    .container-page {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: var(--box-shadow);
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 75px;
    padding: 20px;
    text-align: left !important;
    }
</style>
   
{% endblock stylesheet %}

{% block content %}
    <br>
    <br>
    <div class="container">
        <h1>MyCivitas Golden Albatross 1.0.0</h1>
        <h3>August 2023</h3>
        <hr>
        <p>Introducing exciting new developements to the MyCivitas platform! We're absolutely delighted to share the exciting news that Mycivtas has now been updated to Golden Albatros 1.0.0. This transformative release represents a significant milestone, marking a substantial leap forward in our commitment to enhancing your Mycivtas experience.</p>
        <br>
        <p>Explore our enhanced tools, engage with newfound functionalities and witness a more efficient, productive, and enjoyable Mycivtas experience. 
            Thanks to continued community support and suggestions we are able to continue developing and enhansing the myCivitas platform!.</p>
        <hr>
        <h3>🔥 What's New: 🔥</h3>
        <h4>Enhancements:</h4>
        <ul>
            <li><strong>Optimization: </strong>Through diligent efforts, we've meticulously optimized our platform to significantly reduce the loading time for both features and maps. Our commitment to enhancing user experience has driven us to streamline the performance, ensuring that you can now access and interact with your favorite features and maps swiftly and seamlessly. Enjoy the efficiency of a platform fine-tuned for your convenience.</li>
            <li><strong>Updated feature styling: </strong>Improved captivating new styles and updated feature icons. These visual enhancements are designed to make your time on the platform not just functional but also visually delightful.</li>
            <li><strong>Zoom Level: </strong>We've implemented advanced features such as clustering and automatic hiding to dynamically adapt your view at various zoom levels. This smart design ensures you enjoy a clean, uncluttered display of vital information, making it easier for you to focus on what matters most while navigating through the platform.
            </li>
        </ul>
        <h4>☀️ New Features</h4>
        <ul>
            <li><strong>Feature table: </strong>We're excited to introduce the new "Table View" feature, allowing users to instantly access a comprehensive overview of all available community features. With this addition, you can conveniently view and access essential information at a glance, making your experience with our platform even more efficient and user-friendly. </li>
            <li><strong>Filter Features: </strong>Users can now easily filter features using the search panes within the feature table. This streamlined approach simplifies the process of locating metadata associated with features and significantly accelerates feature filtering.</li>
            <li><strong>Export Features to CSV:</strong>Now, you have the power to export features to a .csv file, giving users the flexibility to utilize platform datasets in their other projects.</li>
            <li><strong>Pre-defined calculation: </strong>We've introduced six new pre-defined calculations to the dashboard, effectively saving users valuable time that would otherwise be spent on manual calculations.</li>
        </ul>
        <hr>
        <p>
            Stay tuned for our upcoming platform release, and please continue to share your valuable suggestions and input with us at <a href="mailto:support@civitas.ca">support@civitas.ca</a>. Your feedback is essential in shaping the future of our platform!
        </p>
    </div>

{% endblock %}

{% block extrascripts %}


{% endblock extrascripts %}
