<div>
    <div class="expected-time row" style="margin: 0">
        <input id="expected-time-hour" type="number" class="form-control col" style="text-align: right;" min="0" placeholder="Hours" value="{{ hours }}"/>
        <div style="margin-left: 5px; margin-right: 5px; margin-top: 8px;"> :</div>
        <input id="expected-time-minute" style="padding-left: 10px" type="number" class="form-control col" min="0" placeholder="Minutes" value="{{ minutes }}"/>
    </div>
    <input id="expected-time" name="expected_time" type="text" hidden value="{{ value }}">
</div>