COMPOSE_PROJECT_NAME=amlit

DB_PORT=5432
INITIAL_FIXTURES=True

# Django env
DATABASE_NAME=django
DATABASE_USERNAME=docker
DATABASE_PASSWORD=docker
DATABASE_HOST=db

DATABASE_CIVITAS_NAME=civitas
DATABASE_CIVITAS_HOST=db
DATABASE_CIVITAS_PORT=5432
DATABASE_CIVITAS_USERNAME=docker
DATABASE_CIVITAS_PASSWORD=docker

# Email where alters should be sent. This will be used by let's encrypt and as the django admin email
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin

# Email settings
EMAIL_HOST_USER=noreply@kartoza.com
EMAIL_HOST_PASSWORD=docker
EMAIL_HOST=smtp
EMAIL_HOST_DOMAIN=kartoza.com

HTTP_HOST=80
HTTPS_HOST=443
